body {
    background-color: #022B3A;
}

h1 {
    color: #6B9080;
}

i {
    font-size: 1rem;
}

img {
    margin-left: 8rem;
}

.navbar {
    background-color: #30292F;
    height: 17rem;
    border-bottom: 2px #171916 solid;
}

.active {

    margin-left: 1px;

}

.navbar-light .navbar-nav .nav-link {
    color: #bad7b6;
    margin-left: 7rem;
    margin-top: 12rem;
    font-size: 1.3rem;
}

.navbar-nav>li.active>a {
    border-bottom: 1px solid #6a907b;
}
