body {
    height: 100%;
}

h2,
.h2 {
    margin-left: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.9rem;
}

.logo {
    margin-right: 7rem;
    width: 30%;
    height: 20%;
}

.jumbotron{
    margin-left: -0.9rem;
    margin-right: -0.9rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/108148/pexels-photo-108148.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10rem 2rem;

}

.southafrica{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/fYnHfhF/olifant.jpg");
}

.costarica{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/fYnHfhF/olifant.jpg");
}

.namibia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/Z11Cyvf/savanah.jpg");
}

.display-5 {
    text-align: center;
    position: absolute;
    font-size: 2.9rem;
    top: 35%;
    left: 46%;
    transform: translate(-40%, -50%);
    color: white;
}

.lead {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 61%;
    left: 14%;
}

.navbar-nav>.active>a {
    border-bottom: 1px solid #6a907b;
    width: 19%;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #6a907b;
}

svg {
    margin-right: 0.3rem;
}

.card-title {
    border-bottom: 2px solid #6a907b;
    text-align: center;
}

footer {
    background-color: #30292F;
    padding: 0;
    text-align: center;
    line-height: 56px;
}


/*body {
    
    height: 100%;
}

h1, h5 {
    color: #bad7b6;
}

h2, .h2 {
    margin-left: 16rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

i {
    font-size: 1rem;
}

img {
    margin-left: 5.9rem;
}

.navbar {
    background-color: #30292F;
    height: 17rem;
    border-bottom: 2px #171916 solid;
}



.navbar-light .navbar-nav .nav-link {
    color: #bad7b6;
    margin-left: 7rem;
    margin-top: 12rem;
    font-size: 1.3rem;
}

.navbar-nav>.active>a {
    border-bottom: 1px solid #6a907b;
}



.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/108148/pexels-photo-108148.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10rem 2rem;
  
}

.display-5 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-40%, -50%);
    color: white;
}

.lead {
    font-size: 1.171875rem;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 62%;
    left: 38%;
}

.card-img-top{
    margin:0;
}

.card-title{
    margin-left: 8rem;
}*/
